.flexForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currency {
  display: flex;
  margin: auto 0;
}

.inputs {
  display: flex;
  margin: auto 0;
}

.info {
  text-align: left;
  width: 55%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.info > p {
  color: gray;
}

.hiOutlineArrowsRightLeftIcon {
  display: block;
  cursor: pointer;
  color: blue;
  padding: 0px 15px;
}

.cgShapeCircleIcon {
  color: rgb(255, 219, 15);
  vertical-align: center;
  font-size: 20px;
}
